<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор...</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta esse eum excepturi numquam officia sapiente sequi sunt vero voluptatum. Aliquam debitis dicta dolores eos expedita id, in ipsum itaque, minima nulla quam sed veritatis? Dicta, laudantium natus! Atque facere impedit maiores nobis repellat! Architecto ea magnam natus placeat quam sint, suscipit vero. Eius, facere iste! Aliquid assumenda aut cupiditate deleniti deserunt dignissimos distinctio, dolore dolorem eaque eos et excepturi fuga maiores molestiae molestias nemo non nostrum odit qui quisquam repudiandae, sapiente, sed sunt voluptas voluptatum? Ducimus illum nemo tenetur. Ducimus, sapiente sed! Ab cumque illo illum minima quae sequi!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta esse eum excepturi numquam officia sapiente sequi sunt vero voluptatum. Aliquam debitis dicta dolores eos expedita id, in ipsum itaque, minima nulla quam sed veritatis? Dicta, laudantium natus! Atque facere impedit maiores nobis repellat! Architecto ea magnam natus placeat quam sint, suscipit vero. Eius, facere iste! Aliquid assumenda aut cupiditate deleniti deserunt dignissimos distinctio, dolore dolorem eaque eos et excepturi fuga maiores molestiae molestias nemo non nostrum odit qui quisquam repudiandae, sapiente, sed sunt voluptas voluptatum? Ducimus illum nemo tenetur. Ducimus, sapiente sed! Ab cumque illo illum minima quae sequi!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta esse eum excepturi numquam officia sapiente sequi sunt vero voluptatum. Aliquam debitis dicta dolores eos expedita id, in ipsum itaque, minima nulla quam sed veritatis? Dicta, laudantium natus! Atque facere impedit maiores nobis repellat! Architecto ea magnam natus placeat quam sint, suscipit vero. Eius, facere iste! Aliquid assumenda aut cupiditate deleniti deserunt dignissimos distinctio, dolore dolorem eaque eos et excepturi fuga maiores molestiae molestias nemo non nostrum odit qui quisquam repudiandae, sapiente, sed sunt voluptas voluptatum? Ducimus illum nemo tenetur. Ducimus, sapiente sed! Ab cumque illo illum minima quae sequi!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta esse eum excepturi numquam officia sapiente sequi sunt vero voluptatum. Aliquam debitis dicta dolores eos expedita id, in ipsum itaque, minima nulla quam sed veritatis? Dicta, laudantium natus! Atque facere impedit maiores nobis repellat! Architecto ea magnam natus placeat quam sint, suscipit vero. Eius, facere iste! Aliquid assumenda aut cupiditate deleniti deserunt dignissimos distinctio, dolore dolorem eaque eos et excepturi fuga maiores molestiae molestias nemo non nostrum odit qui quisquam repudiandae, sapiente, sed sunt voluptas voluptatum? Ducimus illum nemo tenetur. Ducimus, sapiente sed! Ab cumque illo illum minima quae sequi!</p>
  </div>
</div>
