<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Вход в панель администратора</h2>

  <div
    [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}"
    class="form-control"
  >
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email">
    <div
      *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      class="validation"
    >
      <small *ngIf="form.get('email')?.errors?.['required']">
        Введите в поле email
      </small>
      <small *ngIf="form.get('email')?.errors?.['required']">
        Введіте корректный email
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}"
  >
    <label for="password">Password:</label>
    <input formControlName="password" id="password" type="password">
    <div
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      class="validation"
    >
      <small>валидация</small>
    </div>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn bg-primary">Войти</button>
</form>
